<!-- footer type landing page template 2 -->
<footer data-scroll-section id='footer' class='footer-landing-page-template footer '>
  <div class='container prel'>
    <ul class='custom-footer-bottom-wrap c-white'>
      <li class='custom-footer-bottom-item'>
        <a href='{{ fn('the_field','privacy_policy_link', 6774) }}' class='inline_block prel'>
          {{ fn('the_field','privacy_policy_link_text', 6774) }}
        </a>
      </li>
      <li class='custom-footer-bottom-item'>{{ fn('the_field','rights_text', 6774) }}</li>

      <li class='custom-footer-bottom-item'>
        &copy;
        {{ fn('date',"Y") }}
        {{ fn('the_field','company_name', 6774) }}
      </li>
    </ul>
  </div>
</footer>
<!-- footer type landing page template 2 -->
