{% block popup_forms %}
{% if field.form_heading or field.form_subheading or field.form %}
  <!-- Form pop-up -->
  <div class='popup-form'>
    <div class='mobile-contact-form landing-page-form'>
      <button aria-label='Close form popup' class='form-popup-close-btn'>
        <span class='x-icon'></span>
      </button>
      {% if field.form_heading %}
        <h3 class='c-white'>
          {{ field.form_heading }}
        </h3>
      {% endif %}
      {% if field.form_subheading %}
        <p class='form-subheading c-green-1'>
          {{ field.form_subheading }}
        </p>
      {% endif %}
      {% if field.form %}
        <div class='pt-3 form--area'>
          {{ field.form }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if field.form_heading_popup_talk_to_us_now or field.form_for_schedule_a_callback_button_page_builder %}
  <!-- Form pop-up for Talk-to-us block -->
  <div class='talk-to-us-block-popup-form'>
    <div class='mobile-contact-form landing-page-form'>
      <button aria-label='Close popup' class='form-popup-close-btn'>
        <span class='x-icon'></span>
      </button>
      {% if field.form_heading_popup_talk_to_us_now %}
        <h3 class='c-white'>
          {{ field.form_heading_popup_talk_to_us_now }}
        </h3>
      {% endif %}
      {% if field.form_for_schedule_a_callback_button_page_builder %}
        <div class='pt-3'>
          {{ field.form_for_schedule_a_callback_button_page_builder }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock %}
