{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'site-section',
    'banner',
] %}
<div{{attributes.addClass(classes)}}>
	<div
		class="container-fluid">
		<div
			class="row">
			{{ title_prefix }}
			<div
				class="col-xs-12">
				<p
					class="h1">{{ name.0 }}</p>
			</div>
			{{ title_suffix }}
			{{ content }}
		</div>
	</div>
</div>