<div class='blog-contact-item'>
  <a class='c-blue-1' href='{{ linkuri }}'>
    <div class='icon'>
      <img
        class='contact-btn-icon b-lazy'
        alt='{{ linktext }} icon'
        width='60'
        height='60'
        data-src='{{ fn('get_template_directory_uri') }}/assets/media/images/blog/{{linkicon}}.webp'
      >
    </div>
    <p class='txt-size-30 c-blue-1 fw-700 lh-1_25'>{{ linktext }}</p>
  </a>
</div>
