{% if is_preview %}
  [E] Right side image
{% endif %}
{% set row = field.right_image %}
{% set heading = row.heading %}
{% set content = row.content %}
{% set headingColor = row.heading_color %}
{% set headingH1 = row.make_heading_h1 %}
{% set classes = field.full_width_with_background == 'Yes' ? 'full-width-bg' : '' %}
<div
  id='{{ sectionID }}'
  class='content-block-holder {{ classes }} sk-block block--e media-content-block'
  data-link-scroll-target-section-id='{{sectionID}}'
>
  <div class='container'>
    <div class='media-block media-right video-media content-block row row-eq-height'>
      <div class='txt-content op-0 col-sm-12 col-lg-6'>
        {% if heading %}
          {% if headingH1 == 'yes' %}
            <h1 style='color:{{ headingColor }}'>
              {{ heading|striptags('<br><span>') }}
            </h1>
          {% else %}
            <h2 style='color:{{ headingColor }}'>
              {{ heading|striptags('<br><span>') }}
            </h2>
          {% endif %}
        {% endif %}
        <div class='mt-3'>
          {{ content | raw }}
        </div>
        {% include 'field/field--cta-btn.twig' %}
      </div>
      <div class='img-wrap col-sm-12 d-flex justify-content-center col-lg-6 h-100'>
        <div class='img-content'>
          {% if row.image %}
            {{ Image(row.image, 'img-450-450', {'width':450, 'height': 450}) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
